<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.admin.mapper.AdTeamMapper">
    
    <resultMap type="AdTeam" id="AdTeamResult">
        <result property="id"    column="id"    />
        <result property="memberName"    column="member_name"    />
        <result property="position"    column="position"    />
        <result property="department"    column="department"    />
        <result property="phone"    column="phone"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
    </resultMap>

    <sql id="selectAdTeamVo">
        select id, member_name, position, department, phone, created_at, updated_at from ad_team
    </sql>

    <select id="selectAdTeamList" parameterType="AdTeam" resultMap="AdTeamResult">
        <include refid="selectAdTeamVo"/>
        <where>  
            <if test="memberName != null  and memberName != ''"> and member_name like concat('%', #{memberName}, '%')</if>
            <if test="position != null  and position != ''"> and position = #{position}</if>
            <if test="department != null  and department != ''"> and department = #{department}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
            <if test="updatedAt != null "> and updated_at = #{updatedAt}</if>
        </where>
    </select>
    
    <select id="selectAdTeamById" parameterType="String" resultMap="AdTeamResult">
        <include refid="selectAdTeamVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAdTeam" parameterType="AdTeam" useGeneratedKeys="true" keyProperty="id">
        insert into ad_team
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberName != null and memberName != ''">member_name,</if>
            <if test="position != null and position != ''">position,</if>
            <if test="department != null and department != ''">department,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="memberName != null and memberName != ''">#{memberName},</if>
            <if test="position != null and position != ''">#{position},</if>
            <if test="department != null and department != ''">#{department},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
         </trim>
    </insert>

    <update id="updateAdTeam" parameterType="AdTeam">
        update ad_team
        <trim prefix="SET" suffixOverrides=",">
            <if test="memberName != null and memberName != ''">member_name = #{memberName},</if>
            <if test="position != null and position != ''">position = #{position},</if>
            <if test="department != null and department != ''">department = #{department},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAdTeamById" parameterType="String">
        delete from ad_team where id = #{id}
    </delete>

    <delete id="deleteAdTeamByIds" parameterType="String">
        delete from ad_team where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>